@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');

/*
all the fonts i can use
Dm-Sans
Roboto
Poppins
*/

/* making all the color variables so I dont have to reference them by hex every time*/
:root {
  --light: #edebeb;           
  --secondary: #2d2d2d;
  --dark: #0d0d0d; 
  --primary-color: #6e0700;
  --secondary-color: #929292; 
  --border: #3a3a3a;   
}


body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

* > *{
    box-sizing: border-box;
}

/* global styling */
.text-light{
    color: var(--light);
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.bg-light{
    background-color: var(--light);
}

.bg-dark{
    background-color: var(--dark);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.img-fluid{
    width: 100%;
}

.text-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.secondary-title{
    font-family: 'Poppins' , sans-serif;
}

.display-1{
    font-size: 22px;
}

.display-2{
    font-size: 16px;
}

.display-3{
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}



.d-flex{
    display: flex;   
}

.flex-wrap{
    flex-wrap: wrap;
}


.mt-2{
    margin-top: 10px;
}

.mt-5{
    margin-top: 50px;
}

.mb-3{
    margin-bottom: 30px;
}


.px-1{
    padding-left: 5px;
    padding-right: 5px;
}


.thumbnail{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.resume{
    max-height: 85vh; 
    width: auto;    
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain; 
}


.shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* section styling */
 
/* -------navigation menu styling---------- */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-brand{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse{
    align-self: center;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--light);
    font-family: 'Poppins', sans-serif;
}

.nav-link-dark{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
    color: var(--primary-color);
}


.toggle-button{
    font-size: 21px;
    color: var(--light);
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus{
    outline: none;
}


/* ------- end of navigation menu styling ---------- */

/* ----------- Main Section ---------- */

#site-main{
    margin-top: 8em;
}

#posts{
    margin-bottom: 5em;
}

.grid{
    margin: 0 auto;
}

.grid .grid-item{
    width: calc(33.3333% - 20px);
    margin-bottom: 3em;
}

/* ----------- end of main Section ---------- */

/* ----------- footer ---------- */
#footer{
    padding-top: 4em;
}


#footer .tags a{
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 15px;
    color: var(--dark);

}



/* ----------- end of footer ---------- */

/* ----------- article page ------- */

#post{
    padding: 0 2em;
    margin-bottom: 4em;
}


/* ----------- end of article page ------- */

/* ----------- sidebar page ------- */
#sidebar .categories a{
    padding: 1em 3em;
    font-size: 18px;
    margin-bottom: 1em;
    background-color: var(--light);
    border-radius: 99px;
}

#sidebar .categories a:hover{
    background-color: var(--primary-color);
    color: var(--light);
}

/* ----------- end of sidebar page ------- */

/* ----------- sticky ------- */

.sticky{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}

/* ----------- .sticky ------- */



/* Media Query */

.row{
    display: flex;
}

/*divides the three footer columns evenly*/
.col-3{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 35px;
}

.col-8{
    flex: 0 0 70%;
    max-width: 70%;
}

.col-4{
    flex: 0 0 30%;
    max-width: 30%;
}

@media (max-width : 1024px){
    .row{
       flex-wrap: wrap;
    }

    .col-3{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-8{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-4{
        flex: 0 0 100%;
        max-width: 100%;
    }

}


@media (max-width : 992px){
    .navbar{
        flex-direction: column;
    }

    #site-main{
        margin-top: 14em;
    }
}

/* when the website is less than 768 pixels. then display only two columns*/
@media (max-width : 768px){
    .grid .grid-item{
        width: calc(50% - 20px);
    }

    .col-3{
        flex: 0 0 100%;
        max-width: calc(100% - 50px);
        padding-top: 40px 50px;
    }
}


@media (max-width : 574px){
    .toggle-button{
        display: initial;
    }

    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(0.51,-0.15, 0, 0.98);
    }

    .collapse .nav-link{
        display: block;
        text-align: center;
    }


    .collapse-toggle{
        max-height: 500px;
    }
/*when the website is less than 574 pixels. then only show one column or grid */
    .grid .grid-item{
        width: calc(100% - 20px);
    }

    #site-main{
        margin-top: 6em;
    }

}